body {
    background-color: #212733;
    color: #cbccc6;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: monospace;
}

pre {
    max-width: 100%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #212733;
    overflow-x: auto;
    content: unset;
}

.article_entry {
    line-height: initial;
    background-color: #212733;
    padding-bottom: 20px;

}

.article_entry>* {
    margin: 20px;
    line-height: 1;
}

.sourceCode {
    background-color: #171b24;

    line-height: 1.6;
    font-size: 14px;
}

.odd {
    background-color: #171b24;
}


.header {
    color: #171b24;
    background-color: #cbccc6;
    margin: 5px;
}

blockquote {
    background-color: #262f42;
}

img {
    max-width: 100%;
    padding: 10px 10px 10px 10px;
}

h1 {
    color: #fda754;
    text-decoration: bold;
}

h2 {
    color: #F29E74;
    text-decoration: bold;
}

.dt {
    color: #73D0FF
}

.kw {
    color: #5bcfe6
}

.ot {
    color: #CBCCC6
}

.er {
    color: #FFA759
}

.op {
    color: #CBCCC6
}

.cf {
    color: #FFA759
}

.st {
    color: #BAE67E
}

.dv {
    color: #F29E74
}

.pp {
    color: #F29E74
}

.im {
    color: #BAE67E
}

.co {
    color: #727272
}

a[href] {
    text-decoration: none;

    color: #5bcfe6;
}