body {
    background-color: #212733;
    color: #cbccc6;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: 'Courier New', Courier, monospace;
}

pre {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #212733;
    content: unset;
}

.article_entry {
    line-height: initial;
    background-color: #212733;
    padding-bottom: 20px;

}

.article_entry>* {
    margin: 20px;
    line-height: 1;
}

img {
    max-width: 650px;
    padding: 10px 10px 10px 10px;
}

h1 {
    color: #fda754;
    text-decoration: bold;
}

.dt {
    color: #73D0FF
}

.op {
    color: #CBCCC6
}

.cf {
    color: #FFA759
}

.st {
    color: #BAE67E
}

.dv {
    color: #F29E74
}

.pp {
    color: #F29E74
}

.im {
    color: #BAE67E
}

a {
    text-decoration: none;

    color: #5bcfe6;
}